.contenedor_botones{
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
}
.contenedor_botones > button{
    width: 20%;
    height: 70px;
}

.tabla_respuestas{
    margin: 30px auto 0 auto;
    border-collapse: collapse;

}
.tabla_respuestas, .tabla_respuestas td, .tabla_respuestas tr{
    border: 1px solid black;
    padding: 3px;
}